.menubox {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  background-color: rgb(252, 252, 252);
}

.sub-menubox {
  display: flex;
  justify-content: center;
  height: 450px;
  width: 35%;
  box-shadow: 11px 12px 13px 12px rgb(207 207 207);
  padding-top: 30px;
  border-radius: 30px;
  background-color: white;
}

.sub-menubox2 {
  display: flex;
  justify-content: center;
  height: 550px;
  width: 35%;
  box-shadow: 11px 12px 13px 12px rgb(207 207 207);
  padding-top: 30px;
  border-radius: 30px;
  background-color: white;
}

.sub-menubox3 {
  display: flex;
  justify-content: center;
  height: 750px;
  width: 35%;
  box-shadow: 11px 12px 13px 12px rgb(207 207 207);
  padding-top: 30px;
  border-radius: 30px;
  background-color: white;
}

.scroll-list {
  width: 90%;
  height: 200px;
  background-color: rgba(22, 21, 21, 0.063);
  overflow: scroll;
  border: 2px solid #f9ab00;
  box-shadow: 11px 12px 13px 12px rgb(207 207 207);
}
.scroll-list2 {
  width: 110%;
  height: 200px;
  background-color: rgba(22, 21, 21, 0.063);
  overflow: scroll;
  border: 2px solid #f9ab00;
  box-shadow: 11px 12px 13px 12px rgb(207 207 207);
}

.login-input {
  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px rgb(209, 196, 196);
  border: none;
  outline: none;
  background-color: #fff;
}

.password-input {
  padding-top: 20px;
  font-size: 20px;
}

.user-input {
  padding-top: 20px;
  font-size: 20px;
}

.menu-button {
  padding-top: 25px;
}

.button3 {
  width: 280px;
  height: 6vh;
  border-radius: 25px;
  color: white;
  font-size: 25px;
}
.button4 {
  width: 20px;
  height: 6vh;
  border-radius: 25px;
  color: white;
  font-size: 15px;
}
.link {
  padding-top: 20px;
  font-size: 15px;
  font-weight: 400;
}

a,
a:visited {
  color: #fff;
}

input[type="text"],
input[type="password"],
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label {
  margin-top: 1rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
