table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid white;
  text-align: center;
  padding: 8px;
  font-size: 15px;
}

th {
  background-color: #f9ab00;
}

td {
  background-color: rgba(22, 21, 21, 0.063);
}

form * {
  font-size: 28px;
}
